# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Wazuh & Docker specific (Самое важное!)
# Игнорируем папки с данными, чтобы не пушить гигабайты БД на Гитхаб
wazuh_data/
indexer_data/
dashboard_data/

# Logs
*.log

# Sensitive information
# Игнорируем переменные окружения и ключи
.env
*.pem
*.key
*.csr
